# Игнорировать все файлы:
*

# Но не игнорировать директории:
!*/

# Разрешить файлы с расширением .py (или другие расширения, которые вы хотите включить):
!*.py

# Разрешить определенные файлы или конфигурационные файлы:
!.gitignore
!README.md
